<div class="text-center">
  <div class="container">
    <div class='mx-auto col-8 py-3'>
      <%= form_with model:@customer, local:true do |f| %>
        <table>
          <tbody>
              <p>
                <strong>本当に退会しますか?</strong>
              </p>
              <p>
                退会すると会員登録情報や<br>
                これまでの購入履歴が閲覧できなくなります。<br>
                退化する場合は、「退会する」をクリックしてください。
              </p>
                  <tr>
                  <%= link_to "退会しない",customers_my_page_path,class: "btn btn-sm btn-primary" %>&emsp;
                  
                   <!-- 後でsubmit形式に変更する。今変えてもArgumentError in Public::Customers#checkがでる -->
                  <%= link_to "退会する",root_path,class: "btn btn-sm btn-danger" %>
                  </tr>
          </tbody>
         </table>
      <% end %>
    </div>
  </div>
</div>

