<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>
<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <!--renderでジャンル検索の部分テンプレートを呼び出す。-->
      <div class="border">
        <P class="border-bottom text-center">ジャンル検索</P>
        <P> ケーキ</P>
        <P> 焼き菓子</P>
        <P> プリン</P>
        <P> キャンディ</P>
      </div>
    </div>
    <div class='col-md-8 offset-md-1'>

      <h3>新着商品</h3>
      <div>
        <p>商品名</p>
        <p>¥0,000</p>
      </div>
      <div>
        <p>商品名</p>
        <p>¥0,000</p>
      </div>
      <div>
        <p>商品名</p>
        <p>¥0,000</p>
      </div>
      <div>
        <p>商品名</p>
        <p>¥0,000</p>
      </div>
    </div>
  </div>
</div>