<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>
<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <!--renderでジャンル検索の部分テンプレートを呼び出す。-->
      <P class="border">ジャンル検索</P>
      <P>ケーキ</P>
      <P>焼き菓子</P>
      <P>プリン</P>
      <P>キャンディ</P>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h3>新着商品</h3>

    </div>
  </div>
</div>