<div class="container">
  <div class="row">
    <div class="col-2 bg-light text-center">
      <h5>会員一覧</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
          <tbody>
            <tr>
              <td><%= customer.id %></td>
              <td><%= customer.full_name %></td>
              <td><%= customer.email %></td>
              <td></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>