<div class='container'>
 <div class='row'>
  <div class='mx-auto col-8 py-3'>

        <div class="row offset-1 mb-4 ">
          <strong>配送先登録/一覧</strong>
        </div>





  </div>
 </div>
</div>
