<div class='container'>
    <div class='row'>
        <div class='mx-auto col-10 py-3'>

            <div class="row mt-3">
                <h3>ショッピングカート</h3>
            </div>

            <div class="row mt-3">
                <div class="col-3">
                    &emsp;<%= link_to "買い物を続ける", root_path, class: 'btn btn-primary btn-sm btn-block' %>
                </div>
                <div class="col-3 offset-6">合計金額</div>

            </div>

            <div class="row mt-3">
                <div class="col-3 mx-auto">
                    <%= link_to "情報入力に進む", new_order_path, class: 'btn btn-success btn-sm btn-block' %>
                </div>
            </div>











        </div>
    </div>
</div>
