<div class="container">
  <div class="row">
    <div class="col-auto offset-1">
      <div class="row mt-3">
        <table class='table table-bordered'>
          <thead class="table-light">
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <%= @cart_items.each do |cart_item| %>
            <tbody>
              <tr>
                <td><%= cart_item.item.name %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
        <div class="row mt-3">
          <table class='table table-bordered'>
            <thead class="table-light">
              <tr>
                <th>送料</th>
                <th>商品合計</th>
                <th>請求額</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= postage_for_order %>
                <td></td>
                <td></td>
                </tr>
              </tbody>
            <% end %>
          </table>
      　</div>
      </div>
    </div>
  </div>
</div>