/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

main {
  margin-top: 20px;
}

li {
  list-style: none;
}
.item {
  display: inline-block;
}

.btn-success{
  background-color: #3b7960;
  border-color: #3b7960;
  color: #fffff9;
}
.btn-primary{
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  border-color: #ffffff;
  color: #fffff9;
}
.btn-danger{
  background-color: #bb5548;
  border-color: #bb5548;
  color: #fffff9;
  
}