<div class="border">
  <P class="border-bottom text-center">ジャンル検索</P>
  <ul　class="text-left">
    <% category.each do |category| %>
    <li>
      <span><%= category.name %><br /></span>
    </li>
    <% end %>
  </ul>
</div>